### Load the data and format it in a Pandas dataframe

In [1]:
import os
import pandas as pd

In [2]:
# Function that loads a document
def load_doc(filename):
    file = open(filename, 'r')
    text = file.read()
    file.close()
    return text

In [3]:
# Get a list of filenames
filenames = [file for file in os.listdir('Transcripts/') if '.ipynb_checkpoints' not in file]
transcripts = []

# Load the text of each file into the transcripts list above
for filename in filenames:
    doc = load_doc('Transcripts/' + filename)
    transcripts.append(doc)

In [4]:
len(transcripts)

230

### Create the dataframe.

In [5]:
# First split the filename string to create a president name and a year column. Also give the speech a unique name
# which will be helpful for the recommendation system later.
speech_name = []
president_names = []
years = []

for name in filenames:
    president_names.append(name.split('_')[0])
    years.append(int(name.split('_')[1].split('.')[0]))
    speech_name.append(name.split('.')[0])

In [6]:
# Create the dataframe
sotu_df = pd.DataFrame({'president': president_names, 'year': years, 'title': speech_name, 'text': transcripts})

In [7]:
sotu_df.head()

,president,year,title,text
0,Reagan,1982,Reagan_1982,"Mr. Speaker, Mr. President, distinguished Memb..."
1,Roosevelt,1902,Roosevelt_1902,To the Senate and House of Representatives:\n\...
2,Wilson,1914,Wilson_1914,GENTLEMEN OF THE CONGRESS:\n\nThe session upon...
3,Taft,1911,Taft_1911,PART I\n\nThis message is the first of several...
4,Madison,1814,Madison_1814,Fellow-Citizens of the Senate and House of Rep...

In [8]:
# Sort the dataframe chronologically
sotu_df.sort_values('year', inplace=True)

In [9]:
sotu_df.head()

,president,year,title,text
125,Washington,1790,Washington_1790,"Fellow Citizens of the Senate, and House of Re..."
127,Washington,1791,Washington_1791,Fellow-Citizens of the Senate and House of Rep...
139,Washington,1792,Washington_1792,Fellow-Citizens of the Senate and House of Rep...
136,Washington,1793,Washington_1793,Fellow-Citizens of the Senate and House of Rep...
165,Washington,1794,Washington_1794,Fellow-Citizens of the Senate and House of Rep...

### Edit the names of presidents with the same surname so you will be able to calculate metrics by president later
Make edits for Adams, Johnson, Roosevelt, Bush. 

NOTE: There were two presidents with the surname Harrison, but one of them, William Harrison, died after being in office for only 1 month. He never made a State of the Union address.

In [10]:
# Adams

In [11]:
sotu_df[sotu_df['president'] == 'Adams']

,president,year,title,text
163,Adams,1797,Adams_1797,Gentlemen of the Senate and Gentlemen of the H...
81,Adams,1798,Adams_1798,Gentlemen of the Senate and Gentlemen of the H...
80,Adams,1799,Adams_1799,Gentlemen of the Senate and Gentlemen of the H...
131,Adams,1800,Adams_1800,Gentlemen of the Senate and Gentlemen of the H...
101,Adams,1825,Adams_1825,Fellow Citizens of the Senate and of the House...
119,Adams,1826,Adams_1826,Fellow Citizens of the Senate and of the House...
104,Adams,1827,Adams_1827,Fellow Citizens of the Senate and of the House...
130,Adams,1828,Adams_1828,Fellow Citizens of the Senate and of the House...

In [12]:
# John Adams
for idx in [163, 81, 80, 131]:
    sotu_df['president'].loc[idx] = 'John Adams'
    
# John Quincy Adams
for idx in [101, 119, 104, 130]:
    sotu_df['president'].loc[idx] = 'John Quincy Adams'

/Users/PayPay/ml/my_env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [13]:
# Johnson

In [14]:
sotu_df[sotu_df['president'] == 'Johnson']

,president,year,title,text
148,Johnson,1865,Johnson_1865,Fellow-Citizens of the Senate and House of Rep...
159,Johnson,1866,Johnson_1866,Fellow-Citizens of the Senate and House of Rep...
167,Johnson,1867,Johnson_1867,Fellow-Citizens of the Senate and House of Rep...
84,Johnson,1868,Johnson_1868,Fellow-Citizens of the Senate and House of Rep...
223,Johnson,1964,Johnson_1964,"Mr. Speaker, Mr. President, Members of the Hou..."
220,Johnson,1965,Johnson_1965,"On this Hill which was my home, I am stirred b..."
209,Johnson,1966,Johnson_1966,"Mr. Speaker, Mr. President, Members of the Hou..."
211,Johnson,1967,Johnson_1967,"Mr. Speaker, Mr. Vice President, distinguished..."
12,Johnson,1968,Johnson_1968,"Mr. Speaker, Mr. President, Members of the Con..."
7,Johnson,1969,Johnson_1969,"Mr. Speaker, Mr. President, Members of the Con..."

In [15]:
# Andrew Johnson
for idx in [148, 159, 167, 84]:
    sotu_df['president'].loc[idx] = 'Andrew Johnson'
    
# Lyndon Johnson
for idx in [223, 220, 209, 211, 12, 7]:
    sotu_df['president'].loc[idx] = 'Lyndon Johnson'

/Users/PayPay/ml/my_env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [16]:
# Roosevelt

In [17]:
sotu_df[sotu_df['president'] == 'Roosevelt']

,president,year,title,text
19,Roosevelt,1901,Roosevelt_1901,To the Senate and House of Representatives:\n\...
1,Roosevelt,1902,Roosevelt_1902,To the Senate and House of Representatives:\n\...
17,Roosevelt,1903,Roosevelt_1903,To the Senate and House of Representatives:\n\...
29,Roosevelt,1904,Roosevelt_1904,To the Senate and House of Representatives:\n\...
41,Roosevelt,1905,Roosevelt_1905,To the Senate and House of Representatives:\n\...
56,Roosevelt,1906,Roosevelt_1906,To the Senate and House of Representatives:\n\...
45,Roosevelt,1907,Roosevelt_1907,To the Senate and House of Representatives:\n\...
190,Roosevelt,1908,Roosevelt_1908,To the Senate and House of Representatives:\n\...
191,Roosevelt,1934,Roosevelt_1934,"Mr. President, Mr. Speaker, Senators and Repre..."
201,Roosevelt,1935,Roosevelt_1935,"Mr. President, Mr. Speaker, Members of the Sen..."
184,Roosevelt,1936,Roosevelt_1936,"Mr. President, Mr. Speaker, Members of the Sen..."
172,Roosevelt,1937,Roosevelt_1937,"Mr. President, Mr. Speaker, Members of the Con..."
30,Roosevelt,1938,Roosevelt_1938,"Mr. President, Mr. Speaker, Members of the Sen..."
40,Roosevelt,1939,Roosevelt_1939,"Mr. Vice President, Mr. Speaker, Members of th..."
122,Roosevelt,1940,Roosevelt_1940,"Mr. Vice President, Mr. Speaker, Members of th..."
129,Roosevelt,1941,Roosevelt_1941,"Mr. President, Mr. Speaker, Members of the Sev..."
143,Roosevelt,1942,Roosevelt_1942,In fulfilling my duty to report upon the State...
132,Roosevelt,1943,Roosevelt_1943,"Mr. Vice President, Mr. Speaker, Members of th..."
168,Roosevelt,1944,Roosevelt_1944,To the Congress:\n\nThis Nation in the past tw...
156,Roosevelt,1945,Roosevelt_1945,To the Congress:\n\nIn considering the State o...

In [18]:
# Theodore Roosevelt
for idx in [19, 1, 17, 29, 41, 56, 45, 190]:
    sotu_df['president'].loc[idx] = 'Theodore Roosevelt'
    
# Franklin Roosevelt
for idx in [191, 201, 184, 172, 30, 40, 122, 129, 143, 132, 168, 156]:
    sotu_df['president'].loc[idx] = 'Franklin Roosevelt'

/Users/PayPay/ml/my_env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

In [19]:
# Bush

In [20]:
sotu_df[sotu_df['president'] == 'Bush']

,president,year,title,text
124,Bush,1989,Bush_1989,"Mr. Speaker, Mr. President, and distinguished ..."
115,Bush,1990,Bush_1990,"Tonight, I come not to speak about the ""State ..."
109,Bush,1991,Bush_1991,"Mr. President, Mr. Speaker, members of the Uni..."
93,Bush,1992,Bush_1992,"Mr. Speaker, Mr. President, distinguished memb..."
229,Bush,2001,Bush_2001,To the Congress of the United States:\n\nMr. S...
216,Bush,2002,Bush_2002,"Thank you very much. Mr. Speaker, Vice Preside..."
203,Bush,2003,Bush_2003,"Mr. Speaker, Vice President Cheney, Members of..."
185,Bush,2004,Bush_2004,"Mr. Speaker, Vice President Cheney, Members of..."
171,Bush,2005,Bush_2005,"Mr. Speaker, Vice President Cheney, Members of..."
192,Bush,2006,Bush_2006,"Mr. Speaker, Vice President Cheney, Members of..."
200,Bush,2007,Bush_2007,"Thank you very much. Tonight, I have a high pr..."
55,Bush,2008,Bush_2008,"Madam Speaker, Vice President Cheney, Members ..."

In [21]:
# George H.W. Bush
for idx in [124, 115, 109, 93]:
    sotu_df['president'].loc[idx] = 'George H.W. Bush'
    
# George W. Bush
for idx in [229, 216, 203, 185, 171, 192, 200, 55]:
    sotu_df['president'].loc[idx] = 'George W. Bush'

/Users/PayPay/ml/my_env/lib/python3.8/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

### Add the party affiliation of each president
I will simply create a dictionary mapping president name to party.

In [22]:
party_affiliation = {
    'Washington': 'Independent', 
    'John Adams': 'Federalist', 
    'Jefferson': 'Democratic-Republican', 
    'Madison': 'Democratic-Republican', 
    'Monroe': 'Democratic-Republican',
    'John Quincy Adams': 'Democratic-Republican', 
    'Jackson': 'Democrat', 
    'Buren': 'Democrat', 
    'Tyler': 'Whig', 
    'Polk': 'Democrat', 
    'Taylor': 'Whig',
    'Fillmore': 'Whig', 
    'Pierce': 'Democrat', 
    'Buchanan': 'Democrat', 
    'Lincoln': 'Republican', 
    'Andrew Johnson': 'Democrat',
    'Grant': 'Republican', 
    'Hayes': 'Republican', 
    'Arthur': 'Republican', 
    'Cleveland': 'Democrat', 
    'Harrison': 'Republican', 
    'McKinley': 'Republican',
    'Theodore Roosevelt': 'Republican', 
    'Taft': 'Republican', 
    'Wilson': 'Democrat', 
    'Harding': 'Republican', 
    'Coolidge': 'Republican',
    'Hoover': 'Republican', 
    'Franklin Roosevelt': 'Democrat', 
    'Truman': 'Democrat', 
    'Eisenhower': 'Republican', 
    'Kennedy': 'Democrat',
    'Lyndon Johnson': 'Democrat', 
    'Nixon': 'Republican', 
    'Ford': 'Republican', 
    'Carter': 'Democrat', 
    'Reagan': 'Republican',
    'George H.W. Bush': 'Republican', 
    'Clinton': 'Democrat', 
    'George W. Bush': 'Republican', 
    'Obama': 'Democrat', 
    'Trump': 'Republican'
}

In [23]:
# Create a party affiliation column
sotu_df['party'] = sotu_df['president'].apply(lambda x: party_affiliation[x])

In [24]:
sotu_df

,president,year,title,text,party
125,Washington,1790,Washington_1790,"Fellow Citizens of the Senate, and House of Re...",Independent
127,Washington,1791,Washington_1791,Fellow-Citizens of the Senate and House of Rep...,Independent
139,Washington,1792,Washington_1792,Fellow-Citizens of the Senate and House of Rep...,Independent
136,Washington,1793,Washington_1793,Fellow-Citizens of the Senate and House of Rep...,Independent
165,Washington,1794,Washington_1794,Fellow-Citizens of the Senate and House of Rep...,Independent
...,...,...,...,...,...
79,Obama,2016,Obama_2016,"Mr. Speaker, Mr. Vice President, Members of Co...",Democrat
67,Trump,2017,Trump_2017,"Thank you very much. Mr. Speaker, Mr. Vice Pre...",Republican
151,Trump,2018,Trump_2018,"Mr. Speaker, Mr. Vice President, Members of Co...",Republican
150,Trump,2019,Trump_2019,"Madam Speaker, Mr. Vice President, Members of ...",Republican
137,Trump,2020,Trump_2020,"Madam Speaker, Mr. Vice President, members of ...",Republican

#### Save the dataframe

In [25]:
# Save a simple, still yet to be preprocessed dataframe containing the text of each address, the year, the president,
# a title, and the president's party
sotu_df.to_csv('formatted_sotu_dataframe.csv')

### Now each row in sotu_df contains a president's name, the year,  a title for the speech, the text of the State of the Union address, and the president's party.